
*.plist

Pong_OSC_Guest/xcode/build/Debug/Pong_OSC_Guest.app/Contents/MacOS/Pong_OSC_Guest

Pong_OSC_Guest/xcode/build/Debug/Pong_OSC_Guest.app/Contents/PkgInfo

*.icns

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph

*.d

*.dia

*.o

*.hmap

*.hmap

Pong_OSC_Host/xcode/build/Pong_OSC_Host.build/Debug/Pong_OSC_Host.build/dgph

*.xcuserstate

*.data

*.dat

*.pch

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph

Pong_OSC_Host/xcode/build/Pong_OSC_Host.build/Debug/Pong_OSC_Host.build/dgph

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph

Pong_OSC_Guest/xcode/build/Pong_OSC_Guest.build/Debug/Pong_OSC_Guest.build/dgph~

*.hmap

*.hmap

*.LinkFileList
